/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    height: 100vh;
    background: var(--background);
    color: var(--text-color);
    transition: 3s background ease;
}

.dark-mode {
    position: relative;
    border-radius: 50px;
    color: var(--text-color);
    width: 70px;
    height: 30px;
    background-color: white;
}

.dark-switch {
    background: white;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background: var(--background-color);
    position: absolute;
    top: 3px;
    left: 4px;
    transition: 0.5s all ease;
}

.dark-switch-checked {
    transform: translateX(30px);
}


/* icon-start */
.icon {
    width: 1.1em;
    height: 1.1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    font-size: 20px;
}

/* icon-end */

.siteHeader {
    padding: 48px 64px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.box-shadow {
    box-shadow: 1px -1px 0 #767676,
    -1px 2px 1px #737272,
    -2px 4px 1px #767474,
    -3px 6px 1px #787777,
    -4px 8px 1px #7b7a7a,
    -5px 10px 1px #7f7d7d;
}

.text-shadow {
    text-shadow: 1px -1px 0 #767676,
    -1px 2px 1px #737272,
    -2px 4px 1px #767474,
    -3px 6px 1px #787777,
    -4px 8px 1px #7b7a7a,
    -5px 10px 1px #7f7d7d;
}

.siteHeader h1 {
    font-size: 64px;
    width: 100%;
    text-align: center;
}

.siteHeader .add {
    border: 1px solid white;
    width: 40px;
    height: 30px;
    margin-right: 10px;
    line-height: 30px;
    text-align: center;
}


.siteMain .search .searchForm {
    display: flex;
}


.searchForm .submit {
    color: var(--text-color);
    background: inherit;
    font-size: 24px;
    padding: 4px 8px;
    border-radius: 4px;
    border: 2px solid #f7f7f7;
    outline: none;
}

.searchInput {
    margin-right: 4px;
    flex-grow: 1;
    display: flex;
    border: 2px solid #f7f7f7;
    border-radius: 4px;
    text-transform: uppercase;
    position: relative;
    transition: .3s;
    outline: none;
    background: inherit;
    color: var(--text-color);
}

.searchInput input {
    font-size: 16px;
    flex-grow: 1;
    padding: 0 16px;
    background-color: inherit;
    outline: none;
    border: none;
}

.searchInput:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #f7f7f7;
}

.searchInput:hover:after {
    width: 100%;
    left: 0;
}

.siteList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.siteList > li {
    margin-bottom: 12px;
}

.siteList > li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 94px;
    background: var(--background-color);
    border-radius: 16px;
}

.siteList .logo img {
    width: 32px;
    height: 32px;
    /* border-radius: 50%; */
}

/* popUp */
.popUp {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    border: 1px solid #000;
    border-radius: 16px;
    box-shadow: 5px 5px 5px #000;
    background-color: #f3f3f3;
}

.popUp p {
    height: 20px;
    line-height: 20px;
    margin: 10px;
}

.popUp .siteNameInput,
.popUp .siteUrlInput {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.popUp label {
    margin: 10px 0;
}

.input {
    height: 40px;
    font-size: 18px;
    outline: none;
    border: 1px solid black;
}

.popUp .btn {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    margin: 20px 20px;
    border-radius: 16px;
}

.popUp button {
    flex-grow: 1;
    height: 40px;
    font-size: 20px;
    outline: none;
    border: none;
}

.popUp #addSite {
    background-color: #18a0fb;
    color: white;
}

.popUp #cancel {
    background-color: #c4c4c4;
    color: white;
}

/* 显示弹出层 */
.show {
    display: block;
}

.red {
    border-color: red;
}

@media (min-width: 1025px) {
    .siteMain .search {
        display: flex;
        justify-content: center;
        margin-top: 200px;
    }

    .siteMain .search .searchForm {
        width: 500px;
    }

    .content {
        margin: 100px auto;
        width: 900px;
    }

    .siteList {
        margin-right: -90px;
        justify-content: flex-start;
    }

    .siteList > li {
        margin-right: 90px;
        margin-bottom: 25px;
    }
}
